@use "sass:map";
@use 'variables' as v;

@mixin custom-snackbar($theme) {
  $color-config: map.get($theme, color);
  $is-dark-theme: map.get($color-config, 'is-dark');

  $snackbar-background-color: if($is-dark-theme, v.$neutral-800, v.$neutral-100);
  $snackbar-text-color: if($is-dark-theme, v.$neutral-50, v.$text-primary);

  $snackbar-types: (
    success: v.$success,
    error: v.$error,
    info: v.$info,
    warning: v.$warning
  );

  .mat-mdc-snack-bar-container {
    &.snackbar-default {
      --mdc-snackbar-container-color: #{rgba($snackbar-background-color, 0.95)};
      --mat-mdc-snack-bar-button-color: #{$snackbar-text-color};
      --mdc-snackbar-supporting-text-color: #{$snackbar-text-color};
    }

    @each $type, $color in $snackbar-types {
      &.snackbar-#{$type} {
        --mdc-snackbar-container-color: #{rgba($color, 0.95)};
        --mat-mdc-snack-bar-button-color: #{$snackbar-text-color};
        --mdc-snackbar-supporting-text-color: #{$snackbar-text-color};
      }
    }

    .mdc-snackbar__surface {
      border-radius: v.$border-radius;
    }

    .mat-mdc-snack-bar-label {
      font-weight: 500;
    }

    .mat-mdc-snack-bar-actions {
      padding-inline-start: 8px;
    }
  }
}