@use '@angular/material' as mat;
@use 'styles/themes' as themes;
@use 'styles/variables' as vars;
@use 'styles/mixins' as mix;
@use 'styles/components' as comp;
@use 'styles/utilities' as util;

@include mat.core();

// Apply the light theme by default
@include mat.all-component-themes(themes.$minimal-light-theme);
@include themes.custom-styles(themes.$minimal-light-theme);

// Apply custom properties
:root {
  @include themes.apply-custom-properties(themes.$minimal-light-theme);
}

// Dark theme class
.dark-theme {
  @include mat.all-component-colors(themes.$minimal-dark-theme);
  @include themes.custom-styles(themes.$minimal-dark-theme);
  @include themes.apply-custom-properties(themes.$minimal-dark-theme);
}

// Global styles
html, body { height: 100%; }
body {
  margin: 0;
  font-family: vars.$font-family-base;
  transition: background-color vars.$transition-duration ease, color vars.$transition-duration ease;
}
