@use '@angular/material' as mat;
@use './styles/components';
@use './styles/mixins';
@use './styles/snackbar';
@use './styles/themes';
@use './styles/utilities';
@use './styles/variables' as v;

@include mat.core();

@include mat.all-component-themes(themes.$minimal-light-theme);
@include themes.theme-styles(themes.$minimal-light-theme);
@include snackbar.custom-snackbar(themes.$minimal-light-theme);

:root {
  @include themes.apply-theme-vars(themes.$minimal-light-theme);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: v.$font-family;
  transition: background-color v.$transition-duration ease, color v.$transition-duration ease;
}

.dark-theme {
  @include mat.all-component-colors(themes.$minimal-dark-theme);
  @include themes.theme-styles(themes.$minimal-dark-theme);
  @include themes.apply-theme-vars(themes.$minimal-dark-theme);
  @include snackbar.custom-snackbar(themes.$minimal-dark-theme);
}